*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 3%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    width: 17px;
    height: 34px;
    background-size:17px 34px;
    opacity:1;
    animation: buttonnext 1.5s linear infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity:1;
    }
    100%{
        bottom:7%;
        opacity:0;
    }
}

/*音乐按钮的样式*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 2%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border: 3px solid rgba(76, 76, 76, 0.62);
    transform: rotateZ(0deg);
    animation: mp3btnkey 2.5s linear infinite;
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

#mp3btn img {
    width: 10px;
}
/*通用样式*/
.s1{
    background: url("../img/1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.s2{
    background: url("../img/2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.s3{
    background: url("../img/3.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.s4{
    background: url("../img/4.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
/*第一屏样式*/
.s1 .main img{
    position: absolute;
}
.s1 .main img:nth-of-type(1){
    width: 160%;
    top: 5%;
    left: -27%;
    animation: pulse 2s infinite;
}
.s1 .main img:nth-of-type(2){
    width: 43%;
    top: 20%;
    left: 30%;
}
.s1 .main img:nth-of-type(3){
    width: 35%;
    top: 39%;
    left: 15%;
}
.s1 .main img:nth-of-type(4){
    width: 45%;
    top: 51%;
    left: 35%;
}
.s1 .main img:nth-of-type(5){
    width: 45%;
    top: 17%;
    left: 14%;
    animation: flash 1s infinite;
}
.s1 .main img:nth-of-type(6){
    width: 45%;
    top: 33%;
    left: 41%;
    animation: flash 2s infinite;
}
.s1 .main img:nth-of-type(7){
    width: 45%;
    top: 40%;
    left: 0%;
    animation: flash 3s infinite;
}
.s1 .main img:nth-of-type(8){
    width: 45%;
    top: 66%;
    left: 23%;
    animation: flash 4s infinite;
}
.s1 .main img:nth-of-type(9){
    width: 45%;
    top: 56%;
    left: 49%;
    animation: flash 5s infinite;
}
.s1 .footer{
    position: absolute;
    bottom: 5%;
    left: 30%;
    color:#dc9f2a;
}
/*第二屏内容*/
.s2 .main img{
    width: 80%;
    top: 12%;
    left: 10%;
}
.s2 .main{
    position: relative;
    top: 15%;
}
.s2 h1{
    color:#dc9f2a;
    position: absolute;
    top: 6%;
    left: 32%;
}
.s2 .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin:auto;
    text-align: left;
    padding:5%;
    font-size: 14px;
    color: #dc9f2a;
    margin-top:10%;
}
.s2 .text p:nth-of-type(1){
    margin-top: 30px;
}
.s2 .text p{
    margin-bottom: 20px;
}
.s2 .text img{
    position: absolute;
    width: 60%;
    top: -35%;
    left: 20%;
    animation: pulse 2s infinite;
}
/*第三屏内容*/
.s3 .main .xiaohuo{
    width: 60%;
    top: -22%;
    left: 20%;
    animation: pulse 2s infinite;
    position: absolute;
}
.s3 .main img:nth-of-type(2){
    width: 80%;
    top: 12%;
    left: 10%;
}
.s3 .main{
    position: relative;
    top: 15%;
}
.s3 h1{
    color:#dc9f2a;
    position: absolute;
    top: 6%;
    left: 32%;
}
.s3 .img img{
    position: absolute;
}
.s3 .img img:nth-of-type(1){
    width: 35%;
    top: 25%;
    left: 43%;
}
.s3 .img img:nth-of-type(2){
    width: 35%;
    top: 39%;
    left: 14%;
}
.s3 .img img:nth-of-type(3){
    width: 35%;
    top: 52%;
    left: 43%;
}
.s3 .img img:nth-of-type(4){
    position: absolute;
    width: 15%;
    top: 26%;
    left: 29%;
}
.s3 .img img:nth-of-type(5){
    position: absolute;
    width: 15%;
    top: 66%;
    left: 30%;
}
.s3 .img img:nth-of-type(6){
    position: absolute;
    width: 15%;
    top: 46%;
    right: 13%;
}
.s3 .img p{
    font-size:14px;
}
.s3 .img p:nth-of-type(1){
    position: absolute;
    top: 30%;
    left: 31%;
}
.s3 .img p:nth-of-type(2){
    position: absolute;
    bottom: 27%;
    left: 32%;
}
.s3 .img p:nth-of-type(3){
    position: absolute;
    top: 49%;
    right: 16%;
}
/*第四屏内容*/
.s4 .main .xiaohuo{
    width: 60%;
    top: -22%;
    left: 20%;
    animation: pulse 2s infinite;
    position: absolute;
}
.s4 .main img:nth-of-type(2){
    width: 80%;
    top: 12%;
    left: 10%;
}
.s4 .main{
    position: relative;
    top: 15%;
}
.s4 h1{
    color:#dc9f2a;
    position: absolute;
    top: 6%;
    left: 32%;
}
.s4 .main input{
    width: 70%;
    height: 50px;
    border:1px solid #dc9f2a;
    padding-left:30px;
    left: 15%;
}
.s4 .main input:nth-of-type(1){
    position: absolute;
    top: 20%;
}
.s4 .main input:nth-of-type(2){
    position: absolute;
    top: 35%;
}
.s4 .main input:nth-of-type(3){
    position: absolute;
    top: 50%;
}
.s4 .main input:nth-of-type(4){
    position: absolute;
    top: 65%;
}
.s4 .main button{
     position: absolute;
     top: 80%;
     left: 15%;
 }
.s4 .main button{
    width: 70%;
    height: 50px;
    background-color: #dc9f2a;
    border:1px solid #dc9f2a;
    color:#fff;
}