html, body {
    position: relative;
    height: 100%;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}
/*音乐按钮*/
 #mp3btn{
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
     height: 30px;
    z-index: 100;
     background-color: rgba(56, 56, 56, 0.96);
     border-radius: 50%;
     border: 2px solid rgba(140, 140, 140, 0.43);
     line-height: 30px;
     text-align: center;
     transform: rotadeZ(0deg);
     animation: imgbtn 2s linear infinite;

}
#mp3btn img{
    width: 10px;
}
@keyframes imgbtn {
    0%{
       transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 0%;
    width:17px;
    height: 34px;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation: button1 1s infinite;
    background-size: contain ;
}
@keyframes button1 {
    0%{
        bottom: 0%;
        opacity: 1
    }
    100%{
        bottom: 3%;
        opacity:0

    }
}


/* .s1*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}
.swing{
    transform-origin:center;
}

.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 22px;
}
.s1 .main .img9{
    background: url("../img/9.png");
    margin:auto;
    width: 207px;
    height: 24px;
    background-size:cover;
    font-weight: bold;
}

.s1 .footer {
    color: #01e2ba;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.s1 .footer h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.s1 .footer p:nth-of-type(1) {
    font-size: 16px;
    margin-bottom: 40px;
}

.s1 .footer p:nth-of-type(2) {
    height: 70px;
}

.s1 .footer img {
    height: 70px;
    position: absolute;
}

.s1 .footer img:nth-of-type(1) {
    left: 0;
}

.s1 .footer img:nth-of-type(2) {
    left: -90px;
}

/*第二屏的样式*/

.s2,.s3,.s4{
    color: #00fbcb;
}

.s2 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}

.s2 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}

.s2 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s2 div {

}

.s2 img {
    width: 80%;
}

.s2 .main {
    position: relative;
}

.s2 .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 14px;
}

.s2 .text p {
    margin-bottom: 10px;
}

.s2 span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00e7f7, #00fc9f); /*Opera11*/
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
}
/*第二页footer*/
.s2 .footer {
    color: #01e2ba;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170%;

}

.s2 .footer p:nth-of-type(1) {
    height: 70px;
}

.s2 .footer img {
    height: 70px;
    position: absolute;
}

.s2 .footer img:nth-of-type(1) {
    left: 0;
}

.s2 .footer img:nth-of-type(2) {
    left: -90px;
}

/*第三页*/
.s3 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}

.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}

.s3 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}

.s3 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s3 .akm div{
    position: absolute;
    background: url("../img/15.png");
    background-size: cover;
    font-weight: bold;
}
.s3 .akm div:nth-of-type(1){
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 25%;
}
.s3 .akm div:nth-of-type(2){
    width: 60px;
    height: 60px;
    line-height: 60px;
    right: 25%;
}
.s3 .akm div:nth-of-type(3){
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 5%;
    top: 40%;
}
.s3 .akm div:nth-of-type(4){
    width: 135px;
    height: 135px;
    line-height: 135px;
    background: url("../img/16.png");
    background-size: cover;
    left: 30%;
    top: 35%;
}
.s3 .akm div:nth-of-type(5){
    width: 60px;
    height: 60px;
    line-height: 60px;
    right: 5%;
    top: 40%;
}
.s3 .akm div:nth-of-type(6){
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 20%;
    bottom: 30%;
}
.s3 .akm div:nth-of-type(7){
    width: 60px;
    height: 60px;
    line-height: 60px;
    right: 20%;
    bottom: 30%;
}
.s3 .text3{
    position: absolute;
    bottom: 15%;
    width: 80%;
    left: 12%;
    font-size: 16px;
    border-left: 2px solid #ffffff;

}
.s3 .text p:nth-of-type(1){
    padding-bottom: 8px;
}

/*第二页footer*/
.s3 .footer {
    color: #01e2ba;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170%;

}

.s3 .footer p:nth-of-type(1) {
    height: 70px;
}

.s3 .footer img {
    height: 70px;
    position: absolute;
}

.s3 .footer img:nth-of-type(1) {
    left: 0;
}

.s3 .footer img:nth-of-type(2) {
    left: -90px;
}

/*第四页*/
.s4 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}

.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}

.s4 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}

.s4 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}
.s4 .main1 img{
    width: 80%;
}
.s4 .main1 {
    position: relative;
}
.s4 .img4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 16px;
}
.s4 .main1 .img4 p{
    position: absolute;
}
.s4 .main1 .img4 img:nth-of-type(1){
    width: 15px;
    height: 15px;
}
.s4 .main1 .img4:nth-of-type(2){
    top: 5%;
    left: 40%;
}
.s4 .main1 .img4 p:nth-of-type(1){
    left: 20%;

}
.s4 .main1 .img4 p:nth-of-type(2){
     float: left;
     right: 20%;
    color: #04bbfd;

 }
.s4 .main1 .img4 p:nth-of-type(3){
    top: 50px;

}
.s4 .main1 .img4 p:nth-of-type(4){
    top: 73px;

}
.s4 .main1 .img4 p:nth-of-type(5){
    top: 93px;
    color:#04bbfd;

}
.s4 .main1 .img4 p:nth-of-type(6){
    top: 120px;

}
.s4 .main1 .img4 p:nth-of-type(7){
    top: 140px;

}
.s4 .main1 .img4 p:nth-of-type(8){
    top: 160px;
    color:#04bbfd;

}
.s4 .main1 .img4 p:nth-of-type(9){
    top: 190px;

}
.s4 .main1 .img4 p:nth-of-type(10){
    top: 210px;

}
.s4 .main1 .img4 p:nth-of-type(11){
    top: 230px;
    color:#04bbfd;

}
.s4 .main1 .img4 p:nth-of-type(12){
    top: 300px;
    width: 100%;
    font-size: 14px;

}
.s4 .main1 .img4 p:nth-of-type(13){
    top: 320px;
    width: 80%;
    text-align: center;
    font-size: 14px;
}
.s4 .footer {
    color: #01e2ba;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170%;

}

.s4 .footer p:nth-of-type(1) {
    height: 70px;
}

.s4 .footer img {
    height: 70px;
    position: absolute;
}

.s4 .footer img:nth-of-type(1) {
    left: 0;
}

.s4 .footer img:nth-of-type(2) {
    left: -90px;
}
