@charset "UTF-8";
/*! 盛邦升华 */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden; }

/*nav*/
.navbar-default {
  background-color: #000;
  border: none;
  margin: 0; }

.navbar-default .navbar-header {
  width: 28%;
  padding-right: 15px; }

.navbar-default .nav-wrap {
  width: 50%; }

.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 30px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3; }

.navbar-default .social-media {
  float: right;
  padding: 0 15px; }

.navbar-default .social-media i {
  font-size: 22px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3; }

/*banner*/
.xu {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 710px;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 0px; }

.xu h1 {
  font-size: 72px;
  color: white;
  font-family: "monospace";
  font-weight: 300;
  letter-spacing: 0.16em; }

.xu p {
  font-size: 20px;
  color: floralwhite; }

.xu .btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.xu .btn-transparent:hover, .xu .btn-transparent:focus, .xu .btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none; }

.we {
  background-color: #fff;
  text-align: center; }

.we h1 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em; }

.we .ser {
  border: px solid #0d0d0d;
  margin-top: 40px;
  margin-bottom: 40px; }

.we p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em; }

.we img {
  margin-top: 40px;
  margin-bottom: 40px; }

.nl {
  background: #24242a;
  text-align: center;
  color: #fff;
  margin-bottom: 0; }

.nl h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05em; }

.six h3 {
  color: #fff;
  font-weight: 400; }

.six p {
  color: #fff;
  font-size: 12px;
  text-align: left; }

/*work*/
#work {
  padding: 60px 0;
  text-align: center; }

#work h2 {
  text-transform: uppercase; }

#work p {
  margin-bottom: 40px; }

#work img {
  width: 100%; }

/*project*/
.project i {
  font-size: 46px;
  padding-top: 20px;
  padding-bottom: 10px; }

/*air*/
.geyan {
  background-image: url("../img/air.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
  text-align: center;
  margin-bottom: 0; }

.geyan h1 {
  font-size: 36px;
  color: #0d0d0d;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 0; }

.geyan p {
  font-size: 24px;
  color: #fffaf0;
  letter-spacing: 0.5em; }

/*about me*/
.me {
  background: #fff;
  text-align: center;
  color: #000;
  margin-bottom: 0; }

.me h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05em; }

.me p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em; }

.wx h4 {
  text-align: left;
  font-weight: bold;
  line-height: 24px; }

.wx .alert-success {
  color: #0d0d0d;
  font-weight: bold;
  font-size: 24px;
  background-color: #fff;
  border-color: #d6e9c6; }

.wx .want {
  color: red;
  font-size: 35px;
  text-align: center; }
  .wx .want h2:nth-of-type(1) {
    margin-top: 50px; }
  .wx .want h2:nth-of-type(2) {
    margin-bottom: 40px; }

/*footer*/
.bom {
  background: #24242a;
  text-align: center;
  color: #fff;
  margin-bottom: 0; }
  .bom .fa {
    font-size: 35px; }
  .bom h1 {
    margin-bottom: 20px;
    letter-spacing: 0.05em; }
  .bom a {
    padding-right: 20px; }
